<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <label class="float-md-right control-label">
            <p><i>Campos requeridos(*)</i></p>
        </label>
    </div>
</div>



<form id="{{{FORM}}}" method='POST' action="" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="estado" class="control-label">Estado<span class="text-danger">*</span></label>
            <input name="estado" id="estado" class="form-control" value="{{{ESTADO}}}">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="descripcion" class="control-label">Descripcion<span class="text-danger">*</span></label>
            <input name="descripcion" id="descripcion" class="form-control" value="{{{DESCRIPCION}}}">
        </div>
    </div>


    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-right">
            <button type="submit" class="btn btn-primary" data-placement="left" name="estados" value="{{{OPERACION}}}"
                id='boton_titulo' title="Guardar">GUARDAR</button>
            <a href="{{{CANCELAR}}}" class="btn btn-default">CANCELAR</a>
        </div>
    </div>
</form>