<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <header class="clearfix">
      <div id="logo">
        <img src="{{{DATA_IMG}}}" height="80">
      </div>
    </header>
    <main>
        <p style="background-color:#cdcdcd;padding:5px;">
          Fecha actual: <strong>{{{CABECERA}}}</strong><br>
          Aviso de envío de comprobante médico del paciente {{{DATOS_PACIENTE}}}
        </p>
        <p><span>{{{MENSAJE_ERROR}}}</span></p>
    <br>
    <br>
    <br>
    <br>  
    <footer> 
    	<div class="foot">{{{FOOTER}}}</div>
    </footer>
  </body>
</html>